doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id='container')
      div(id="header") Scrum Poker
      block content
    block scripts
