body {
  max-width: 75%;
  min-width: fit-content;
  background-color: #354f52;
  margin: 0 auto;
  font: 26px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
  font: .8em "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: .2em;
  padding: .2em;
}

input {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 5em;
}

a {
  color: #00B7FF;
}

#header {
  height: 200px;
  background-color: #cad2c5;
  line-height: 200px;
  text-align: center;
  font-size: 48px;
}

.s1 {
  background-color: #84a98c;
  min-height: 5em;
  padding: 1em;

}

#votes {
  display: flex;
  flex: auto;
}

.s2 {
  background-color: #52796f;
  padding: 1em;
  min-height: 5em;
}

#selection {
  display: flex;
  flex: 0;
}

#host {
  background-color: #52796f;
}

.card {
  height: 3em;
  width: 2em;
  background-color: #cad2c5;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 3em;
  font-size: 1.5em;
}

#selection .card:hover {
  background-color: blanchedalmond;
}